
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="container">
    <table class="table" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3">
                <div style="text-align:center;">
                    <img src="~/images/sun.png" height="128px" width="128px" />
                </div>
            </th>

            <th scope="col">Energy</th>
        </tr>
        <tr>
            <td><p>3 equations</p></td>
        </tr>
        <tr>
            <td><p>easy</p></td>
        </tr>
    </table>
</div>

<br />

<ul>
    <li>Opening quiz</li>
    <li>Lesson 1: Energy</li>
    <li>Lesson 2: Energy stores</li>
    <li>Lesson 3: Conservation of energy</li>
    <li>Lesson 4: Equations and calculations</li>
    <li>Lesson 5: Heating and energy transfer</li>
    <li>Lesson 6: Energy demands</li>
    <li>Further reading and links</li>
    <li>Chapter quiz</li>
</ul>