
@{
    ViewData["Title"] = "Lesson 1";
}

<br />

<h2 style="text-align: center; margin-top:80px;"><u>Lesson 1: Energy</u></h2>

<br />

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#intro">Intro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part1">1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part2">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part3">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#summary">Summary</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <!-- INTRO -->
        <div class="tab-pane fade active show" id="intro">
            <br />
            <p>
                Energy is all around us yet (other than light) it's rare that we can see it.
                With the exception of heat and electricity, it's not really
                <a href="javascript://" style="color:black; font-weight:bold;" data-toggle="tooltip" data-placement="top"
                   title="definition: able to touch or feel something">
                    tangible
                </a>, so it can be quite an abstract thing to learn about.
            </p>
            <p>
                Energy comes in many different forms, and we use it in a variety of different ways.
            </p>
            <p>
                But for now, consider the questions below;
            </p>
            <h4><strong><u>Big questions;</u></strong></h4>
            <br />
            <p><strong> - What is energy?</strong></p>
            <p><strong> - Where does energy come from?</strong></p>
            <p><strong> - What can we do with energy?</strong></p>
        </div>

        <!-- PART 1 -->
        <div class="tab-pane fade" id="part1">
            <br />
            <p><strong> - What is energy?</strong></p>
            <br />
            <p>
                Energy is a difficult thing to define but physicists often explain it as the ‘capacity to do
                <a href="javascript://" style="color:black; font-weight:bold;" title="Work" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="A technical way of saying energy is transferred from one place to another."
                   data-original-title="Work" aria-describedby="popover168466">work</a>’.
            </p>
            <p>
                For example, a person throwing a ball would need to do work by moving their arms and body; the energy is transferred from the person to the ball.
                The person can then stand still while the ball continues to travel because of the energy the ball still retains.
            </p>
            <div class="row justify-content-center">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson1/mobilechallenge-active-athlete-2554114.jpg" alt="Photo of a volleyball player" class="responsive"/>
                            <figcaption>Photo by Mateusz Dach from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Energy is also used when discussing the
                <a href="javascript://" style="color:black; font-weight:bold;" title="Temperature" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Temperature is actually a way of saying the amount of energy something contains." data-original-title="Temperature"
                   aria-describedby="popover168466">temperature</a> of an object. In general
                terms, something with a higher temperature has more energy than something with
                a lower temperature (fridges and freezers are exceptions to the rule).
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson1/barbecue-bbq-briquettes-9263.jpg" alt="Glowing barbeque coals" class="responsive"/>
                            <figcaption>Photo by Skitterphoto from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                A fire is a source of large amounts of energy, usually given off as heat and light.
                Sometimes, there is so much energy in an object that it '
                <a href="javascript://" style="color:black; font-weight:bold;" title="Radiation" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Energy is released in the form of an electromagnetic wave in visible (light) and invisible (infra-red, ultraviolet) ranges."
                   data-original-title="Radiation" aria-describedby="popover168466">radiates</a>
                ' energy in the form of light, hence why barbecue coals glow red.
            </p>
            <a data-toggle="tab" href="#part2">Part 2</a>
        </div>

        <!-- PART 2 -->
        <div class="tab-pane fade" id="part2">

            <br />

            <p><strong> - Where does energy come from?</strong></p>

            <br />

            <p>
                Good question! <u>Energy cannot be created or destroyed</u>. It moves from one
                form of energy to another.
            </p>
            <p>
                The principle thing to take away is that the energy we use is not made by us.
                It must have already existed from somewhere, and we are just changing it from one form
                to another that is useful to us.
            </p>
            <p>
                The overwhelming theory surrounding the ‘<u>creation</u>’ of all energy is the ‘big
                bang’ - the event that started the construction and expansion of the universe.
            </p>
            <p>
                After the big bang, all the energy that was available has been used to create
                stars, planets and other objects in the cosmos. Life on Earth started by using this energy.
            </p>

            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson1/beautiful-cropland-dawn-1237119.jpg" class="responsive"/>
                            <figcaption>Photo by Jonathan Petersson from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <p>
                Plants
                <a href="javascript://" style="color:black; font-weight:bold;" title="Photosynthesis" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="A process where plants convert energy from sunlight into chemical energy
                   in the form of useable sugars." data-original-title="Photosynthesis" aria-describedby="popover168466">
                    photosynthesise
                </a>
                energy from the sun, making use of energy from the sun to make sugars. Without plants exploiting the
                <a href="javascript://" style="color:black; font-weight:bold;" title="Sunlight" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Currently we use fossil fuels as an energy source. Fossil fuels used to be life that relied on photosynthetic organisms,
                   and the sun's energy. In some respects, we are therefore still using energy from the sun,
                   but it's been converted into different forms of energy." data-original-title="Sunlight" aria-describedby="popover168466">
                    energy from the sun
                </a>, life would not be here on Earth.
            </p>
            <p>
                On our planet, all energy can be traced back to the Sun, and the Sun’s energy can be
                traced back to the big bang.
            </p>
        </div>

        <!-- PART 3 -->
        <div class="tab-pane fade" id="part3">
            <br />
            <p><strong> - What can we do with energy?</strong></p>
            <br />
            <p>
                As we’ve already seen, energy is used to do work. This can be moving something,
                heating something or giving something electrical power.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3" style="width:307px">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson1/James_Prescott_Joule.jpg" class="responsive"/>
                            <figcaption>James Prescott Joule. 1818 - 1889 </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Even though we can't see it energy is something we can measure, usually in
                <a href="javascript://" style="color:black; font-weight:bold;" title="Joule" data-container="body" data-toggle="popover" data-placement="top"
                   data-content='The unit Joule is named after a scientist - James Prescott Joule. Scientists use the capital letter J as a symbol.
                   The technical definition is the amount of energy required moving an object through a distance of 1 metre using 1 newton of force.'
                   data-original-title="Joules" aria-describedby="popover168466">
                    Joules
                </a>. We also measure energy in food as calories. As humans, we need to
                consume food to perform actions and continue to live.
            </p>
            <ul>
                <li>
                    A mosquito uses very little energy and would need to fly non-stop for 72 days
                    before it spent <u>1 joule</u> of energy.
                </li>
                <li>
                    <u>1 joule</u> of energy can be expended by a human when lifting an apple 1 metre
                    in the air.
                </li>
                <li>An average LED light may use <u>60 joules</u> of energy in a minute.</li>
                <li>An average apple contains <u>397,480 joules</u> of energy.</li>
                <li>A 30 minute run can use <u>1,300,000 joules</u> of energy.</li>
                <li>
                    An atomic bomb releases approximately <u>63,000,000,000,000 (63 trillion) joules</u>
                    of energy.
                </li>
            </ul>
            <p>
                Everything requires energy but in varying amounts.
            </p>
        </div>

        <!-- PART 4 - Summary -->
        <div class="tab-pane fade" id="summary">
            <br />
            <p><strong> Summary</strong></p>
            <br />
            <ul>
                <li>
                    Energy is defined by physicists as the capacity to do '
                    <a href="javascript://" style="color:black; font-weight:bold;" title="Work" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="A technical way of saying energy is transferred from one place to another."
                       data-original-title="Work" aria-describedby="popover168466">work</a>'.
                </li>
                <li>
                    Energy cannot be created or destroyed, but transformed from one form to another.
                </li>
                <li>
                    Energy is measured in
                    <a href="javascript://" style="color:black; font-weight:bold;" title="Joule" data-container="body" data-toggle="popover" data-placement="top"
                       data-content='The unit Joule is named after a scientist - James Prescott Joule. Scientists use the capital letter J as a symbol.
                   The technical definition is the amount of energy required moving an object through a distance of 1 metre using 1 newton of force.'
                       data-original-title="Joules" aria-describedby="popover168466">
                        Joules
                    </a>.
                </li>
                <li>
                    The most widely believed theory is that the big bang created all the energy around us today.
                </li>
                <li>
                    Most of the energy available to us on the planet has come from the Sun, which showers us with energy everyday.
                </li>
                <li>
                    Life forms have exploited the energy from the sun. We rely on these organisms to give us energy as well.
                </li>
                <li>
                    We need energy to do work.
                </li>
                <li>
                    <u>1 joule</u> of energy can be expended by a human when lifting an apple 1 metre
                    in the air.
                </li>
            </ul>
            <hr />
            <a asp-area="" asp-controller="Energy" asp-action="Lesson1Complete">Back to lessons list</a> - mark Lesson 1 as complete!
            <br />
        </div>
    </div>
</div>
<br />
