
@{
    ViewData["Title"] = "Lesson5";
}
<br />

<h2 style="text-align: center; margin-top:80px;"><u>Lesson 5: Heating and energy transfer</u></h2>

<br />

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#intro">Intro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part1">1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part2">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part3">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part4">4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part5">5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#summary">Summary</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <!-- INTRO -->
        <div class="tab-pane fade active show" id="intro">
            <br />
            <p>
                To heat something is to transfer energy from one place or object to another place or object.
            </p>
            <p>
                There are three methods of energy transfer. These are;
                <ul>
                    <li>Conduction</li>
                    <li>Convection</li>
                    <li>Radiation</li>
                </ul>
            </p>
            <p>In this lesson, we will look at the three different types of energy transfer.</p>
        </div>

        <!-- PART 1 -->
        <div class="tab-pane fade" id="part1">
            <br />
            <p><strong>Conduction</strong></p>
            <br />
            <p>
                Conduction is a word you may have heard of - especially in terms of heating metal or the path
                of electricity through wires.
            <p />
            <p>
                One of the easiest ways to imagine heat transfer by conduction is through the use of 'particles'.
                Every object is made up of particles, often a small piece of matter such as an atom. These are the
                building blocks of every day objects.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/gr7ec03-gd-0002.png" alt="Conduction of heat through particles" />
                            <figcaption>Taken from https://engineeringinsider.org/heat-transfer-conduction-convection-radiation/ </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                The image above demonstrates heat energy travelling through particles. As one particle gains heat energy, it
                begins to heat up the particles it is touching. Heat is conducted in this way until all particles have the
                same amount of energy as one another.
            </p>


        </div>

        <!-- PART 2 -->
        <div class="tab-pane fade" id="part2">
            <br />
            <p><strong>Thermal conductivity</strong></p>
            <br />
            <p>
                Different materials have different properties. Metal is often associated as a good conductor of heat.
                Thermal conductivity specifically looks at how quickly heat energy is transferred through this material.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/bacon-close-up-cookware-1412010.jpg" alt="Frying pan" />
                            <figcaption>Photo by freestocks.org from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                The frying pan pictured above cooks the contents through conduction. The reason why a frying pan is made of metal
                is because the particles are really close together which means heat travels from particle to particle far quicker
                than a frying pan made of another material, such as glass. Although you can heat a gas, the particles are really
                far apart from one another, and are therefore poor conductors of heat energy in comparison to most solids.
            </p>
            <p>
                For now, you need to know is the term 'conduction' and how heat passes from particle to particle.
                If you wish to know more, the theory behind this is covered in the next topic - the particle model of matter.
            </p>
        </div>

        <!-- PART 3 -->
        <div class="tab-pane fade" id="part3">
            <br />
            <p><strong>Convection</strong></p>
            <br />
            <p>
                Convection is another word you may have heard of. But where conduction transferred energy from particle to particle,
                conduction is the movement and mixing of
                <a href="#" style="color:black; font-weight:bold;" title="Fluid" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="We often refer to liquids as fluids, but gases are also fluids. A fluid is defined as something that is able to flow
                   and has no fixed shape."
                   data-original-title="Fluid" aria-describedby="popover168466">
                    fluids
                </a>
                of different temperatures.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/role-of-convection-in-radiators.jpg" alt="Heating a room by using radiators" />
                            <figcaption>Taken from https://studiousguy.com/examples-convection-everyday-life/ </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                One of the most common examples of convection is the common household radiator. The radiator is heated by flushing warm water
                through the system, which heats the metal fins by conduction. The metal fins then transfer heat energy to the air particles.
                As a fluid warms up, it begins to rise moving the air particles around the room. Colder particles are then forced in to
                replace the warm air particles, and so the cycle continues.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/convection-in-boiling-water.jpg" alt="Convection currents in boiling water" />
                            <figcaption>Taken from https://studiousguy.com/examples-convection-everyday-life/ </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                When a fluid begins to move by gaining heat energy, this is called a convection current. The heating of the fluid causes movement.
                This can be seen in a pot of boiling water, when bubbles begin to form in areas where the water is hottest.
            </p>
        </div>

        <!-- PART 4 -->
        <div class="tab-pane fade" id="part4">
            <br />
            <p><strong>Convection currents</strong></p>
            <br />
            <p>
                Convection currents play a large role in some of the major processes on this planet. Take a look at the beautiful seaside photo below.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/background-beach-beautiful-2606523.jpg" alt="Sea breezes are convection" />
                            <figcaption>Photo by Artem Beliaikin from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                A sea breeze is a much needed phenomenom on a hot day at the beach. This is another form of convection;
                <ul>
                    <li>
                        The sun radiates heat on both the land and the sea;
                    </li>
                    <li>
                        The land heats up far quicker than the sea;
                    </li>
                    <li>
                        This heats the air above the land causing it to rise;
                    </li>
                    <li>
                        As the air rises, cool air from the surrounding environment rushes in to replace it.
                    </li>
                </ul>
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/Ocean_circulation_conveyor_belt.jpg" alt="Ocean conveyor belt" />
                            <figcaption>Taken from https://www.sciencebuddies.org/science-fair-projects/project-ideas/OceanSci_p012/ocean-sciences/ocean-currents-modeling-global-conveyor-belt#background </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                The ocean conveyor belt is another example of convection on a global scale, where temperatures drive motion in a fluid.
                Organisms depend on the movement of water to deliver nutrients from the depths of the sea to the surface, and back to
                the depths. Without this exchange of nutrients, the food chain would begin to break down.
            </p>
        </div>

        <!-- PART 5 -->
        <div class="tab-pane fade" id="part5">
            <br />
            <p><strong>Radiation</strong></p>
            <br />
            <p>
                Whilst a radiator 'radiates' heat, it's not through the process of radiation. Radiation is energy leaving an object as
                an electromagnetic wave or as a particle smaller than an atom.
            </p>
            <p>
                Radiation is frequently used as a scary word, especially surrounding nuclear energy or when talking about the sun.
                These are serious concerns, but radiation also describes
                <a href="#" style="color:black; font-weight:bold;" title="EM radiation" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Electromagnetic waves are a group of vibrating electric and magnetic fields that can travel through areas without
                   matter, such as the depths of space."
                   data-original-title="EM Radiation" aria-describedby="popover168466">
                    electromagnetic
                </a>
                waves, such as radio waves, micro-waves, and even visible light.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/astronomy-burn-burning-39649.jpg" alt="Picture of the Sun" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Where both conduction and convection require
                <a href="#" style="color:black; font-weight:bold;" title="EM radiation" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="All physical substances that are built from atoms are called matter."
                   data-original-title="Matter" aria-describedby="popover168466">
                    matter
                </a>
                to transfer heat, radiation does not require contact with the source of the heat. The sun is a great example - it
                is 150,000,000 (150 million) kilometres away, yet it bathes the Earth with solar radiation and provides us with heat energy
                every day.
            </p>
            <div class="row justify-content-center">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson5/thermal-img_hand_snake.jpg" alt="Thermal image of a snake" />
                            <figcaption>Taken from https://news.mongabay.com/2017/03/facts-and-faqs-about-thermal-imaging/ </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Any object that has heat energy loses energy in the form of radiation. The image below shows a cold-blooded snake wrapped
                around a human hand with.
            </p>
        </div>

        <!-- SUMMARY -->
        <div class="tab-pane fade" id="summary">
            <br />
            <p><strong>Summary</strong></p>
            <br />
            <ul>
                <li>
                    There are three forms of energy transfer; <b>conduction</b>, <b>convection</b>, and <b>radiation</b>.
                </li>
                <li>
                    Conduction means particles with higher temperature sharing their heat energy with particles that have a less heat
                    energy.
                </li>
                <li>
                    Good conductors of heat are typically solids - often metals.
                </li>
                <li>
                    Poor conductors of heat are typically liquids and gases.
                </li>
                <li>
                    Convection is found in fluids (liquids and gases).
                </li>
                <li>
                    As a fluid heats up, it becomes less dense and rises, being replaced by cold air and causing a convection current.
                </li>
                <li>
                    Conduction and convection rely on something coming into contact with the source of heat (frying pan or radiator).
                </li>
                <li>
                    Radiation is energy emitted in the form of electromagnetic waves - infra-red, ultraviolet or visible light.
                </li>
                <li>
                    Radiation does not require matter to exchange heat - the Sun produces vast quantities of EM radiation that reaches us
                    through the vaccuum of space.
                </li>
            </ul>
        </div>
        <hr />
        <a asp-area="" asp-controller="Energy" asp-action="EnergyIndex">Back to lessons list</a>
    </div>
    <br />
</div>
