
@{
    ViewData["Title"] = "Lesson1View";
}
<br />

<h2 style="text-align: center;"><u>Lesson 1: Energy</u></h2>

<br />

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#intro">Intro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part1">1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part2">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part3">3</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <!-- INTRO -->
        <div class="tab-pane fade active show" id="intro">
            <br />
            <p>
                Energy is all around us yet we can't see it.
                It's neither tangible, nor visible so it can be quite an abstract thing
                to think about. Don't worry, this simple lesson will open your eyes
                to energy and what it's in everyday life. Consider the below.
            </p>
            <h4><strong><u>Big questions;</u></strong></h4>
            <br />
            <p><strong> - What is energy?</strong></p>
            <p><strong> - Where does energy come from?</strong></p>
            <p><strong> - What can we do with energy?</strong></p>
        </div>

        <!-- PART 1 -->
        <div class="tab-pane fade" id="part1">
            <br />
            <p><strong> - What is energy?</strong></p>
            <br />
            <p>
                Energy is defined as the ‘capacity to do work’ which is a technical way of
                saying moving an object from one place to another.
            </p>
            <p>
                Energy is also used when discussing the temperature of an object. In general
                terms, something with a higher temperature has more energy than something with
                a lower temperature (fridges and freezers are exceptions to the rule).
            </p>

            <p>A good way to look at it would be a blacksmith with a heavy metal bar.</p>
            <p>
                - To move the metal bar means the smith would have to do ‘work’, i.e.
                use energy from his body.
            </p>
            <p>
                - Once the metal bar has been placed in a fire, the metal bar would
                increase in temperature, meaning it is gaining energy.
            </p>
            <p>
                - Taking the bar out of the fire requires work from the smith, and the
                bar would start to lose its energy to the surroundings and cool down.
            </p>
        </div>

        <!-- PART 2 -->
        <div class="tab-pane fade" id="part2">
            <br />
            <p><strong> - Where does energy come from?</strong></p>

            <br />
            <p>
                Good question! Energy cannot be created or destroyed. It just moves from one
                form to another.
            </p>

            <p>
                For that reason, the energy we are using today must have already existed
                from somewhere before.
            </p>

            <p>
                The overwhelming theory surrounding the ‘creation’ of all energy is the ‘big
                bang’, the event that started the construction and expansion of the universe.
            </p>

            <p>
                After the big bang, all the energy that was available has been used to create
                stars, planets and life on Earth began to use this energy.
            </p>

            <p>
                Plants use energy from the sun to make sugars. Animals eat plants to gain energy,
                keep vital organs working, store fat, build muscle and continue to live. When
                they die, other animals and organisms breakdown the body to gain energy.
            </p>

            <p>
                On our planet, all energy can be traced back to the Sun. The Sun’s energy can be
                traced back to the big bang.
            </p>

        </div>

        <!-- PART 3 -->
        <div class="tab-pane fade" id="part3">
            <br />
            <p><strong> - What can we do with energy?</strong></p>
            <br />
            <p>
                As we’ve already seen, a smith can use energy to make a fire, move
                metal to heat it and then be able to bend the metal bar.
            </p>

            <p>
                Energy is something we can measure, usually in Joules. We also measure
                energy in food as calories. As humans, we need to consume food to perform
                actions and continue to live.
            </p>

            <ul>
                <li>
                    A mosquito uses very little energy and would need to fly non-stop for 72 days
                    before it spent a joule of energy.
                </li>
                <li>
                    1 joule of energy can be expended by a human when lifting an apple 1 metre
                    in the air.
                </li>
                <li>An average LED light may use 60 joules of energy in a minute.</li>
                <li>An average apple contains 397,480 joules of energy.</li>
                <li>A 30 minute run can use 1,300,000 joules of energy.</li>
                <li>
                    An atomic bomb releases approximately 63,000,000,000,000 (63 trillion) joules
                    of energy.</li>
            </ul>

            <p>Everything requires energy but in varying amounts.</p>


        </div>

