
@{
    ViewData["Title"] = "Lesson6";
}
<br />

<h2 style="text-align: center; margin-top:80px;"><u>Lesson 6: Energy resources</u></h2>

<br />

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#intro">Intro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part1">1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part2">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part3">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part4">4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part5">5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part6">6</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#summary1">Summary 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#summary2">Summary 2</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <!-- INTRO -->
        <div class="tab-pane fade active show" id="intro">
            <br />
            <p>
                Our way of life has become dependent on energy;
                <ul>
                    <li>Transport</li>
                    <li>Cooking</li>
                    <li>Heating</li>
                    <li>Entertainment</li>
                    <li>Agriculture</li>
                    <li>Construction</li>
                    <li>Production</li>
                </ul>
                How many other industries do we need to use energy - can you think of any?
            </p>
            <p>
                But there are different demands placed upon these energies through different times of year
                and even different times of the day. There are also different ways in which we can capture
                energy. This lesson looks at energy usage and how we exploit energy in different ways.
            </p>
        </div>

        <!-- PART 1 -->
        <div class="tab-pane fade" id="part1">
            <br />
            <p><strong>Energy resources</strong></p>
            <br />
            <p>
                Energy can be used in different ways - fuels can be burnt changing chemical energy into
                heat, or kinetic energy from turning turbines that create electrical energy. But there
                are now two distinct categories of resources that we rely upon;
                <ul>
                    <li>Non-renewable energy resources</li>
                    <li>Renewable energy resources</li>
                </ul>
                Can you think what sources of energy we might consider non-renewable, and which ones are
                renewable?
            </p>
        </div>

        <!-- PART 2 -->
        <div class="tab-pane fade" id="part2">
            <br />
            <p><strong>Non-renewable energy resources</strong></p>
            <br />
            <p>
                Non-renewable energy resources are sources of energy that once used, cannot be used again.
                The most common sources of energy are fossil fuels, called so because they used to be organisms
                millions and millions of years ago.
                <ul>
                    <li>Coal</li>
                    <li>Natural gas</li>
                    <li>Oil</li>
                </ul>
                Life on Earth are carbon based, meaning they have a high carbon content. Our atmosphere also has
                a high hydrogen content and due to the bonding of hydrogen and carbon, fossil fuels are often
                called 'hydrocarbons'. When burnt, these fuels release large volumes of the gas carbon dioxide
                which promotes heating of the atmosphere.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/carbon-chimney-clouds-39553.jpg" alt="Power stations" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Another non-renewable energy resource is nuclear energy. Nuclear fuel rods give out huge volumes
                of energy and are often thought to be unsafe. But nuclear energy is 'clean' meaning it does not
                produce the harmful emissions that fossil fuels release.
            </p>
        </div>

        <!-- PART 3 -->
        <div class="tab-pane fade" id="part3">
            <br />
            <p><strong>Fossil fuels</strong></p>
            <br />
            <p>
                <b>Coal</b> is a black rock that is dug up from the ground often in large open pits that ruin the landscape.
                But due to it's convenient size, ability to be safely stored and ease to ignite, coal is a popular
                fuel source for many developing countries and individuals needing a heat source. For many years, coal
                was the fuel source for the train networks, factories and mills across the UK that sparked our
                industrial revolution.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/black-close-up-coal-46801.jpg" alt="Coal" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                <b>Natural gas</b> is often found beneath the sea bed and more recently, in shallow pockets beneath the
                Earth's surface. As a gas, it is very easy to contain within a sealed container and can be transported
                easily through pipes into homes. It's often used in canisters to plug into portable camping stoves or
                heating units.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/blaze-blue-blur-266896.jpg" alt="A flame made by burning gas" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                <b>Crude oil</b> was found firstly on land but is also found underneath the sea bed. Crude oil is a
                vital component and can be refined into lots of different products - plastic is a common product made
                with crude oil. Multiple different fuels are also refined from crude oil, like petrol, diesel and
                aviation fuel. In it's unrefined state, it is a thick sticky black liquid and has been involved in
                many controversial cases of spills leading to huge volumes of organisms suffering.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/backlit-clouds-dawn-162568.jpg" alt="Oil derrick" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                All three of these fuels release CO<sub>2</sub> into the atmosphere but in varying amounts. For the
                same amount of energy generated, natural gas releases the least amount of CO<sub>2</sub>, whilst coal
                releases the most.
            </p>
        </div>

        <!-- PART 4 -->
        <div class="tab-pane fade" id="part4">
            <br />
            <p><strong>Nuclear energy</strong></p>
            <br />
            <p>
                Nuclear energy carries the stigma of being a dangerous supply of energy. Two major incidents
                (Chernobyl, 1986 and Fukushima, 2011) have occurred in the last decade and when coupled with nuclear
                technology in weapons, it's understandable that the general public is apprehensive around nuclear energy.
                Many countries are using nuclear power effectively and safely.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/Limerick Nuclear Power Plant - Exelon.jpg" alt="Nuclear power station" />
                            <figcaption>Taken from https://www.witf.org/news/2019/04/nj-approves-300-million-annual-subsidy-for-nuclear-industry.php </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Nuclear fuel sources occur naturally and can and release energy in the form of radioactive decay. This means
                radioactive matter gradually loses energy over time, but even when the fuel is no longer useable to generate
                energy, the fuel rods are still dangerous. This means disposal of nuclear waste is difficult. While nuclear
                stations have large clouds rising from the chimneys, this is water vapour as opposed to carbon emissions.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/nuclear-energy.jpg" alt="How energy is produced" style="width:600px; height:354px;" />
                            <figcaption>Taken from https://www.scienceabc.com/eyeopeners/how-long-can-nuclear-reactors-run-without-human-interference.html </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                Nuclear and fossil fuel power stations are very similar - the energy source is used to heat water and produce
                steam which creates pressure and turns turbines. These turbines turn magnets creating an electromagnetic
                field thus generating electricity. This is a good example of energy transfer between stores;
                <u>chemical -> heat -> kinetic -> electrical</u>.
            </p>
        </div>

        <!-- PART 5 -->
        <div class="tab-pane fade" id="part5">
            <br />
            <p><strong>Renewable energy</strong></p>
            <br />
            <p>
                Renewable energy sources are defined by their ability to generate energy whilst they themselves are not
                running out. Countries around the world have different methods to generate energy based upon their geography.
                Renewable technologies include;
                <ul>
                    <li>Bio-fuel;</li>
                    <li>Geothermal;</li>
                    <li>Hydroelectricity;</li>
                    <li>Tides;</li>
                    <li>The Sun;</li>
                    <li>Wave;</li>
                    <li>Wind.</li>
                </ul>
            </p>
            <p>
                While these energies do not generate carbon emissions, the installation of these devices can do a lot of
                damage to the environment, or ongoing damage to the ecosystem after installation. Furthermore, individual
                platforms don't often generate that much energy, and so multiple platforms have to be installed to meet
                the demands of the modern world.
            </p>
        </div>

        <!-- PART 6 -->
        <div class="tab-pane fade" id="part6">
            <br />
            <p><strong>Renewable energy</strong></p>
            <br />
            <p>
                <b>Bio-fuels</b> are considered renewable, however their use is still not fully justified to the scientific
                community. Bio-fuels are a biologically made source of fuel; animal dung, crops or fire wood. The carbon
                released from using these products as fuel is thought to be re-absorbed by the plants that are planted in
                place of the burnt products. The problem with bio-fuels is that they take large volumes of time, space and
                water, and are not a viable energy source for the world on their own.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/beautiful-clouds-cropland-325944.jpg" alt="Bio-fuels" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                <b>Geothermal</b> sources occur in areas where the Earth's crust is thin, and heat from the centre of the
                Earth is accessible by us. This is usually in the form of hot rocks, radioactive matter or rising steam
                that drive turbines. These phenomena can be famously found in places like Iceland and they have been
                successfully exploiting this for heating homes for years.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/animal-photography-animals-cute-347137.jpg" alt="Japanese Macaques enjoying a hot spring" />
                            <figcaption>Photo by Tirachard Kumtanom from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                <b>Hydroelectric</b>, <b>tidal</b> and <b>wave</b> power are often confused with one another.
                Wave power uses devices that sit on the surface of the sea, and as they bob up and down with the
                movement of the waves, a coil of wire moves around a generator. The tidal form often uses a barrage
                of turbines that sit beneath the sea - as the tide moves in and out, this volume of water turns the
                turbines generating electricity but the tides are so accurately forecasted where other forms of
                energy are difficult to predict. Hydroelectricity uses large volumes of water that are either held
                behind a dam, or falling from an elevated position (waterfall or mountainous river) that turn
                turbines. These forms of energy often cause damage to the surrounding environment, cause flooding
                or disturb creatures in their natural environments.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/bridge-conifers-dam-574024.jpg" alt="Water contained behind a dam" />
                            <figcaption>Photo by ciboulette from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                The two most promising renewable energy sources are <b>solar</b> and <b>wind</b> power. The Sun
                hits the planet with 430 quintillion joules of energy an hour. Solar has its obvious advantages
                and disadvantages, such as no energy at night or during poor weather but across the country,
                solar panels can still provide sufficient amounts energy during a cloudy day. Wind power is not
                very predictable or reliable, and at high wind speeds, the turbines cannot be used for fear of
                damage. They are also responsible for producing noise that disturbs flight paths for migratory
                animals, but can be implemented both on land and offshore meaning large quantities of energy can
                be created during the right conditions.
            </p>
            <div class="row justify-content-center">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <figure style="margin-bottom:0em">
                            <img src="~/images/topics/energy/lesson6/alternative-alternative-energy-clouds-433308.jpg" alt="Solar panels with wind turbines" />
                            <figcaption>Photo by Pixabay from Pexels</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <p>
                The tricky part of using renewable energies is pre-empting when the country needs to use this energy.
                For instance, it's well known that during tv advert breaks in the evening, the country would often
                see a surge in the need for energy due to the amounts of tea being brewed. Renewable energies are
                difficult to harvest predictably, and currently unable to be stored whilst fossil and nuclear fuels
                can be fired when needed to generate electricity. It's a difficult line to tread.
            </p>
        </div>

        <!-- SUMMARY 1 -->
        <div class="tab-pane fade" id="summary1">
            <br />
            <p><strong>Summary 1</strong></p>
            <br />
            <ul>
                <li>
                    There are three forms of energy transfer; <b>conduction</b>, <b>convection</b>, and <b>radiation</b>.
                </li>
                <li>
                    Conduction means particles with higher temperature sharing their heat energy with particles that have a less heat
                    energy.
                </li>
                <li>
                    Good conductors of heat are typically solids - often metals.
                </li>
                <li>
                    Poor conductors of heat are typically liquids and gases.
                </li>
                <li>
                    Convection is found in fluids (liquids and gases).
                </li>
                <li>
                    As a fluid heats up, it becomes less dense and rises, being replaced by cold air and causing a convection current.
                </li>
                <li>
                    Conduction and convection rely on something coming into contact with the source of heat (frying pan or radiator).
                </li>
                <li>
                    Radiation is energy emitted in the form of electromagnetic waves - infra-red, ultraviolet or visible light.
                </li>
                <li>
                    Radiation does not require matter to exchange heat - the Sun produces vast quantities of EM radiation that reaches us
                    through the vaccuum of space.
                </li>
            </ul>
        </div>

        <!-- SUMMARY 2 -->
        <div class="tab-pane fade" id="summary2">
            <br />
            <p><strong>Summary 2</strong></p>
            <br />
                <ul>
                    <li>
                        Non-renewable energy sources include fossil fuels and nuclear energy.
                    </li>
                    <li>
                        These energy sources once used, cannot be re-used and are often good for meeting short term energy demands.
                    </li>
                    <li>
                        The by-products of fossil fuels are CO<sub>2</sub> and other emissions which are accelerating climate change.
                    </li>
                    <li>
                        The exploration for and mining of fossil fuels are often damaging to the environment.
                    </li>
                    <li>
                        The by-products of nuclear energy is often just water vapour, although spent fuel rods are difficult to store.
                    </li>
                    <li>
                        Renewable energy sources are those that can provide energy to us whilst they also are not running out.
                    </li>
                    <li>
                        These sources are <b>Bio-fuel</b>, <b>Geothermal</b>, <b>Hydroelectricity</b>, <b>Tidal</b>,
                        <b>Solar</b>, <b>Wave</b> and <b>Wind</b>.
                    </li>
                    <li>
                        Some of the renewable energy sources still cause destruction to the environment, but they are not
                        accelerating the rate of climate change or releasing vast quantities of carbon emissions.
                    </li>
                </ul>
        </div>
        <hr />
        <a asp-area="" asp-controller="Energy" asp-action="EnergyIndex">Back to lessons list</a>
    </div>
    <br />
</div>
