
@{
    ViewData["Title"] = "Lesson6";
}
<br />

<h2 style="text-align: center; margin-top:80px;"><u>Lesson 6: Energy demands</u></h2>

<br />

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</div>