
@{
    ViewData["Title"] = "Lesson3";
}
<br />

<h2 style="text-align: center; margin-top:80px;"><u>Lesson 3: Conservation of energy</u></h2>

<br />

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#intro">Intro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part1">1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part2">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#part3">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#summary">Summary</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <!-- INTRO -->
        <div class="tab-pane fade active show" id="intro">
            <br />
            <p>
                Let's recap lesson 1 and 2.
            </p>
            <p>
                Lesson 1 said ‘Energy cannot be created or destroyed.’ and that energy is used to move things or heat things up.
            </p>
            <p>
                Lesson 2 said ‘Energy can be stored.’ and outlined the 9 different stores.
            </p>
            <p>
                These are the building blocks for Lesson 3 – the 
                <a href="#" style="color:black; font-weight:bold;" title="Conservation" data-container="body" data-toggle="popover" data-placement="top"
                data-content="To conserve is to keep something the same as it was before." data-original-title="Temperature"
                aria-describedby="popover168466">conservation
                </a>
                of energy.
            </p>
            <p>
                As energy is used from one store, it is transferred to another one, or multiple stores.
            </p>
        </div>

        <!-- PART 1 -->
        <div class="tab-pane fade" id="part1">
            <br />
            <p><strong> - What is energy?</strong></p>
            <br />
            <p>
                Let’s revisit the runner who ran for 30 minutes and ‘burnt’ 1,300,000 joules of energy. 
                That energy came from the runners body in the form of a chemical store. The runner moved throughout 
                the entire 30 minutes and their body got warmer so the energy moved from a chemical store to both 
                a kinetic store and a thermal store of energy.
            </p>
            <p>
                Conservation of energy says the amount of energy must stay the same, therefore the combination of the 
                kinetic and thermal stores must equal the 1,300,000 joules of energy used from the chemical store.
            </p>
        </div>

    </div>
</div>