@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-9">

    <table class="table table-hover">
        <tr>
            <th scope="col" rowspan="3">
                <img src="~/images/sun.png" height="128px" width="128px" />
            </th>
            <th scope="col">Energy</th>
        </tr>
        <tr>
            <td>Difficulty: easy</td>
        </tr>
        <tr>
            <td>3 equations</td>
        </tr>
    </table>

    <table class="table table-hover">
        <tr>
            <th scope="col" rowspan="3">
                <img src="~/images/sun.png" height="128px" width="128px" />
            </th>
            <th scope="col">Energy</th>
        </tr>
        <tr>
            <td>Difficulty: easy</td>
        </tr>
        <tr>
            <td>3 equations</td>
        </tr>
    </table>

    <table class="table table-hover">
        <tr>
            <th scope="col" rowspan="3">
                <img src="~/images/sun.png" height="128px" width="128px" />
            </th>
            <th scope="col">Energy</th>
        </tr>
        <tr>
            <td>Difficulty: easy</td>
        </tr>
        <tr>
            <td>3 equations</td>
        </tr>
    </table>

</div>

