@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />

    <h1 style="text-align:center;"><u>Topics</u></h1>
    <br />
    <!-- Begin tables to list topics. -->
    <table class="table" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3">
                <div style="text-align:center;">
                    <img src="~/images/math-png-icon-20.jpg" height="128px" width="128px" />
                </div>
            </th>
            <th scope="col">Maths Skills</th>
        </tr>
        <tr>
            <td>Difficulty: easy</td>
        </tr>
        <tr>
            <td>          </td>
        </tr>
    </table>

    <table class="table" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3">
                <div style="text-align:center;">
                    <img src="~/images/sun.png" height="128px" width="128px" />
                </div>
            </th>
            <th scope="col">Energy</th>
        </tr>
        <tr>
            <td>Difficulty: easy</td>
        </tr>
        <tr>
            <td>3 equations</td>
        </tr>
    </table>

    <table class="table" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3">
                <div style="text-align:center;">
                    <img src="~/images/ParticleModel.png" height="128px" width="128px" style="border-radius: 1.25rem;" />
                </div>
            </th>
            <th scope="col">Particles</th>
        </tr>
        <tr>
            <td>Difficulty: med</td>
        </tr>
        <tr>
            <td>2 equations</td>
        </tr>
    </table>

    <table class="table" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3">
                <div style="text-align:center;">
                    <img src="~/images/question_mark_PNG128.png" height="76.3px" width="128px" />
                </div>
            </th>
            <th scope="col">Blog</th>
        </tr>
        <tr>
            <td>Difficulty: easy</td>
        </tr>
        <tr>
            <td>3 equations</td>
        </tr>
    </table>

</div>