@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3"></div>

<div class="col-md-9">

    <table class="tg">
        <tr>
            <th class="tg-0lax" rowspan="3">
                <img src="~/images/sun.png" />
            </th>
            <th class="tg-0lax"></th>
        </tr>
        <tr>
            <td class="tg-0lax"></td>
        </tr>
        <tr>
            <td class="tg-0lax"></td>
        </tr>
    </table>

</div>

<div class="col-md-3"></div>
