
@{
    ViewData["Title"] = "MathsIndex";
}
<br />

<!-- TITLE TABLE FOR TOPIC - MATHS -->
<div class="container">
    <table class="table-borderless" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3" style="width:82px;">
                <div style="text-align:left;">
                    <div class="img-border-custom" style="height:82px;">
                        <img src="~/images/math-png-icon-20.jpg" height="76px" width="76px" />
                    </div>
                </div>
            </th>
            <th scope="col">
                <h3 style="margin-bottom: 0rem;">Maths Skills</h3>
            </th>
        </tr>
        <tr>
            <td><p-custom>Making maths easy</p-custom></td>
        </tr>
        <tr>
            <td><p-custom>easy</p-custom></td>
        </tr>
    </table>
</div>
