
@{
    ViewData["Title"] = "MathsIndex";
}
<br />


<!-- TITLE TABLE FOR TOPIC - MATHS -->
<div class="container" style="margin-top:80px;">
    <table class="table-borderless" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3" style="width:82px;">
                <div style="text-align:left;">
                    <div class="img-border-custom" style="height:82px;">
                        <img src="~/images/math-png-icon-20.jpg" height="76px" width="76px" />
                    </div>
                </div>
            </th>
            <th scope="col">
                <h3 style="margin-bottom: 0rem;">Maths Skills</h3>
            </th>
        </tr>
        <tr>
            <td><p-custom>Making maths easy</p-custom></td>
        </tr>
        <tr>
            <td><p-custom>easy</p-custom></td>
        </tr>
    </table>
</div>

<br />
<!-- LIST OF LESSONS - NAVIGABLE LINKS -->
<div class="container">
    <ul style="list-style: circle;">
        <li>
            <a asp-area="" asp-controller="Maths" asp-action="Algebra">Learning Algebra</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Maths" asp-action="MathsIndex">Standard Index Units</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Maths" asp-action="MathsIndex">Square numbers, cube numbers and powers</a>
        </li>
    </ul>
    <a asp-area="" asp-controller="Topics" asp-action="TopicsIndex">Back to topics list</a>
</div>

@* Pop-up calculator script. *@
@*<form><input type="button" value="Popup Calculator" onclick="javascript:window.open('https://localhost:44353/calculator/Calculator','calculator'+new Date().getTime(),'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,copyhistory=no,width=450,height=300');"></form>*@