
@{
    ViewData["Title"] = "ParticlesIndex";
}

<br />

<!-- TITLE TABLE FOR TOPIC - PARTICLE MODEL OF MATTER -->
<div class="container" style="margin-top:80px;">
    <table class="table-borderless" style="width:80%; margin-left:10%; margin-right:10%;">
        <tr>
            <th scope="col" rowspan="3" style="width:82px;">
                <div style="text-align:left;">
                    <div class="img-border-custom" style="height:82px;">
                        <img src="~/images/ParticleModel.png" height="76px" width="76px" style="border-radius: 1.25rem;" />
                    </div>
                </div>
            </th>
            <th scope="col"><h3 style="margin-bottom: 0rem;">Particles</h3></th>
        </tr>
        <tr>
            <td><p-custom>2 equations</p-custom></td>
        </tr>
        <tr>
            <td><p-custom>medium</p-custom></td>
        </tr>
    </table>
</div>